*{
    border-style:border-box;
}
body {
    font-family: Garamond;
    background-color: grey;
   // background-image:url("C:/Users/hp/Downloads/pic5.jpg");
}

h1 {
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
}

h3 {
    color: black;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}


#chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
    border:2px solid blue ;
    border-radius:10px;
    padding:8px;
    background-color:white;

}

#userInput {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
    border: 2px solid #03bb85;
    border-radius: 10px;
    padding:8px;
   }

#textInput {
    width: 87%;
    border: none;
    border-bottom: 3px solid #009688;
    font-family: monospace;
    font-size: 17px;
}

#buttonInput {
    padding: 3px;
    font-family: monospace;
    font-size: 17px;
    background-color:#24A0ED;
    width: 70px;
}

.userText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
}

.userText span {
    background-color: #00008B;
    padding: 10px;
    border-radius: 10px;
}

.botText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
    border-radius:10px;
}

.botText span {
    background-color: #24A0ED;
    padding: 10px;
    border-radius: 10px;
}

#tidbit {
    position:absolute;
    bottom:0;
    right:0;
    width: 300px;
}